## Pair Programming - Regresión lineal 6

### Estandarización

---

In [1]:
# Tratamiento de datos
import pandas as pd
import numpy as np

# Estandarización
from sklearn.preprocessing import StandardScaler

# Configuración warnings
import warnings
warnings.filterwarnings('ignore')

### 1. Abrimos nuestro df.

In [2]:
df = pd.read_csv("../archivos/metro_B.csv", index_col=0)
df.head(2)

,season,weekday,cat_time,holiday_cat,temp_c,snow_1h,traffic_volume,traffic_box
0,Autumn,martes,morning,no,15.13,0.0,5546,544.504895
1,Autumn,martes,morning,no,16.21,0.0,4517,472.646491

### 2. Aplicamos el método de estandarización.

Primero separamos las columnas que queremos estandarizar

In [3]:
estandarizadas = df[["temp_c", "snow_1h"]]

In [4]:
estandarizadas.head(2)

   temp_c  snow_1h
0   15.13      0.0
1   16.21      0.0

Inicializamos el método.

In [5]:
scaler = StandardScaler()

In [7]:
scaler.fit(estandarizadas)

StandardScaler()

In [8]:
transformacion = scaler.transform(estandarizadas)

Convertimos los resultados a df.

In [9]:
df_transformacion = pd.DataFrame(transformacion, columns= estandarizadas.columns).reset_index()

In [10]:
df_transformacion.head(2)

   index    temp_c   snow_1h
0      0  0.552310 -0.027233
1      1  0.637259 -0.027233

In [13]:
df_mini= df[["season", "cat_time", "weekday", "holiday_cat", "traffic_volume", "traffic_box",]].reset_index()
df_mini.head(2)

   index  season cat_time weekday holiday_cat  traffic_volume  traffic_box
0      0  Autumn  morning  martes          no            5546   544.504895
1      1  Autumn  morning  martes          no            4517   472.646491

In [14]:
df_total =df_mini.merge(df_transformacion, on="index")

In [15]:
df_total

,index,season,cat_time,weekday,holiday_cat,traffic_volume,traffic_box,temp_c,snow_1h
0,0,Autumn,morning,martes,no,5546,544.504895,0.552310,-0.027233
1,1,Autumn,morning,martes,no,4517,472.646491,0.637259,-0.027233
2,2,Autumn,morning,martes,no,4768,490.608780,0.654563,-0.027233
3,3,Autumn,morning,martes,no,5027,508.836531,0.697824,-0.027233
4,4,Autumn,morning,martes,no,4919,501.272305,0.777266,-0.027233
...,...,...,...,...,...,...,...,...,...
48165,48182,Autumn,night,domingo,no,336,77.952519,0.172402,-0.027233
48166,48183,Autumn,night,domingo,no,445,94.876354,0.118129,-0.027233
48167,48184,Autumn,morning,domingo,no,803,143.104869,0.115770,-0.027233
48168,48185,Autumn,morning,domingo,no,1176,186.469800,0.065430,-0.027233
48169,48186,Autumn,morning,domingo,no,2003,269.575003,0.067790,-0.027233

### 3. Guardarmos en un csv

In [17]:
df_total.to_csv('../archivos/metro_C.csv')