## Pair Programming - Regresión lineal 6

### Estandarización

---

In [68]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler

import warnings
warnings.filterwarnings('ignore')

En este ejercicio de pair programming seguiréis usando el dataset que seleccionasteis.

En vuestro dataset habréis identificado unas variables predictoras y una variable respuesta. Los objetivos del pair programming de hoy son:
- Sobre las variables predictoras, en este caso deberéis estandarizar estas variables. De nuevo, usad el método que prefiráis.

In [69]:
df = pd.read_csv("../archivos/metro_B.csv", index_col=0)
df.head(2)

,date,weekday,time,holiday_cat,temp_c,snow_1h,traffic_volume,traffic_box
0,2012-10-02,2,09:00:00,0,15.13,0.0,5546,544.504895
1,2012-10-02,2,10:00:00,0,16.21,0.0,4517,472.646491

In [70]:
estandarizadas = df[["temp_c", "snow_1h"]]

In [71]:
estandarizadas

       temp_c  snow_1h
0       15.13      0.0
1       16.21      0.0
2       16.43      0.0
3       16.98      0.0
4       17.99      0.0
...       ...      ...
48199   10.30      0.0
48200    9.61      0.0
48201    9.58      0.0
48202    8.94      0.0
48203    8.97      0.0

[48187 rows x 2 columns]

In [72]:
scaler = StandardScaler()

In [73]:
scaler.fit(estandarizadas)

StandardScaler()

In [74]:
transformacion = scaler.transform(estandarizadas)

In [75]:
df_transformacion = pd.DataFrame(transformacion, columns= estandarizadas.columns).reset_index()

In [76]:
df_transformacion.head(2)

   index    temp_c   snow_1h
0      0  0.552310 -0.027233
1      1  0.637259 -0.027233

In [77]:
df_mini= df[["date", "time", "weekday", "holiday_cat", "traffic_volume", "traffic_box",]].reset_index()
df_mini.head(2)

,index,date,time,weekday,holiday_cat,traffic_volume,traffic_box
0,0,2012-10-02,09:00:00,2,0,5546,544.504895
1,1,2012-10-02,10:00:00,2,0,4517,472.646491

In [78]:
df_total =df_mini.merge(df_transformacion, on="index")

In [79]:
df_total

,index,date,time,weekday,holiday_cat,traffic_volume,traffic_box,temp_c,snow_1h
0,0,2012-10-02,09:00:00,2,0,5546,544.504895,0.552310,-0.027233
1,1,2012-10-02,10:00:00,2,0,4517,472.646491,0.637259,-0.027233
2,2,2012-10-02,11:00:00,2,0,4768,490.608780,0.654563,-0.027233
3,3,2012-10-02,12:00:00,2,0,5027,508.836531,0.697824,-0.027233
4,4,2012-10-02,13:00:00,2,0,4919,501.272305,0.777266,-0.027233
...,...,...,...,...,...,...,...,...,...
48165,48182,2018-09-30,04:00:00,7,0,336,77.952519,0.172402,-0.027233
48166,48183,2018-09-30,05:00:00,7,0,445,94.876354,0.118129,-0.027233
48167,48184,2018-09-30,06:00:00,7,0,803,143.104869,0.115770,-0.027233
48168,48185,2018-09-30,07:00:00,7,0,1176,186.469800,0.065430,-0.027233
48169,48186,2018-09-30,08:00:00,7,0,2003,269.575003,0.067790,-0.027233

____

- Guardar en un csv el nuevo dataframe que habéis creado para seguir usándolo en los siguientes pair programmings

In [81]:
df_total.to_csv('../archivos/metro_C.csv')