## Pair Programming - Regresión lineal 8

### Encoding

---

In [14]:
# Tratamiento de datos
import pandas as pd
import numpy as np
import datetime
from datetime import date, datetime

# Codificación de las variables numéricas
from sklearn.preprocessing import LabelEncoder 
from sklearn.preprocessing import OneHotEncoder 

# Configuración warnings
import warnings
warnings.filterwarnings('ignore')

### 1. Codificamos el ESTANDARIZADO

In [15]:
df_estandarizado = pd.read_csv('../archivos/metro_C.csv', index_col=0)

In [18]:
df_estandarizado.head(2)

,index,season,cat_time,weekday,holiday_cat,traffic_volume,traffic_box,temp_c,snow_1h
0,0,Autumn,morning,martes,no,5546,544.504895,0.552310,-0.027233
1,1,Autumn,morning,martes,no,4517,472.646491,0.637259,-0.027233

In [19]:
df_estandarizado.holiday_cat.unique()

array(['no', 'si'], dtype=object)

In [20]:
mapa_estaciones = {'Autumn':3, 'Winter':1, 'spring':2, 'Summer':4 }

mapa_cat_time = {'morning':4, 'midday':3, 'evening':2, 'night':1}

mapa_weekday = {'martes':2, 'miercoles':2, 'jueves':2, 'viernes':2, 'sabado':1, 'domingo':1, 'lunes':2}

mapa_holiday = {"no":2 , "si":1}

In [21]:
df_estandarizado["season"]= df_estandarizado["season"].map(mapa_estaciones)
df_estandarizado["cat_time"]= df_estandarizado["cat_time"].map(mapa_cat_time)
df_estandarizado["weekday"]= df_estandarizado["weekday"].map(mapa_weekday)
df_estandarizado["holiday_cat"]= df_estandarizado["holiday_cat"].map(mapa_holiday)

In [22]:
df_estandarizado.head()

,index,season,cat_time,weekday,holiday_cat,traffic_volume,traffic_box,temp_c,snow_1h
0,0,3,4,2,2,5546,544.504895,0.552310,-0.027233
1,1,3,4,2,2,4517,472.646491,0.637259,-0.027233
2,2,3,4,2,2,4768,490.608780,0.654563,-0.027233
3,3,3,4,2,2,5027,508.836531,0.697824,-0.027233
4,4,3,4,2,2,4919,501.272305,0.777266,-0.027233

In [26]:
df_estandarizado.to_csv('../archivos/metro_D_stan_enco.csv')

2. Codificamos el df sin estandarizar

In [16]:
df_sin_estandarizar = pd.read_csv('../archivos/metro_A.csv', index_col=0)

In [17]:
df_sin_estandarizar.head(2)

   season weekday cat_time holiday_cat  temp_c  snow_1h  traffic_volume
0  Autumn  martes  morning          no   15.13      0.0            5545
1  Autumn  martes  morning          no   16.21      0.0            4516

In [25]:
#df.to_csv('../archivos/metro_D.csv')

NameError: name 'df' is not defined