## Pair Programming - Regresión lineal VI Parte B

### Estandarización

---

In [181]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler

import warnings
warnings.filterwarnings('ignore')

En este ejercicio de pair programming seguiréis usando el dataset que seleccionasteis.

En vuestro dataset habréis identificado unas variables predictoras y una variable respuesta. Los objetivos del pair programming de hoy son:
- Sobre las variables predictoras, en este caso deberéis estandarizar estas variables. De nuevo, usad el método que prefiráis.

In [182]:
df = pd.read_csv("../archivos/metro_2.csv", index_col=0)
df.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,traffic_box
10,None,290.97,0.0,0.0,20,Clouds,few clouds,2012-10-02 19:00:00,3539,2101.064038
11,None,289.38,0.0,0.0,1,Clear,sky is clear,2012-10-02 20:00:00,2784,1681.830454
12,None,288.61,0.0,0.0,1,Clear,sky is clear,2012-10-02 21:00:00,2361,1443.409194
20,None,278.62,0.0,0.0,1,Clear,sky is clear,2012-10-03 05:00:00,2718,1644.814972
30,None,290.65,0.0,0.0,20,Clouds,few clouds,2012-10-03 19:00:00,3591,2129.680912

In [183]:
numericas = df.select_dtypes(include= np.number)

In [184]:
numericas.drop(['traffic_volume', 'traffic_box'], axis= 1, inplace=True)

In [185]:
scaler = StandardScaler()

In [186]:
scaler.fit(numericas)

StandardScaler()

In [187]:
transformacion = scaler.transform(numericas)

In [188]:
df_transformacion = pd.DataFrame(transformacion, columns= numericas.columns)

In [189]:
df_transformacion.head(2)

       temp  rain_1h   snow_1h  clouds_all
0  0.738354 -0.13315 -0.032598   -0.753862
1  0.619383 -0.13315 -0.032598   -1.241251

In [190]:
df.head(2)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,traffic_box
10,None,290.97,0.0,0.0,20,Clouds,few clouds,2012-10-02 19:00:00,3539,2101.064038
11,None,289.38,0.0,0.0,1,Clear,sky is clear,2012-10-02 20:00:00,2784,1681.830454

In [191]:
#df_transformacion[['weather_main','traffic_volume','traffic_box']] = df[['weather_main','traffic_volume','traffic_box']]
#unir df_transformacion con las columnas de weather_main, traffic_volume y traffic_box

In [202]:
df_transformacion.merge(df[['weather_main','traffic_volume','traffic_box']], how="inner", right_on=None)

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [192]:
df_transformacion.head()

       temp  rain_1h   snow_1h  clouds_all
0  0.738354 -0.13315 -0.032598   -0.753862
1  0.619383 -0.13315 -0.032598   -1.241251
2  0.561768 -0.13315 -0.032598   -1.241251
3 -0.185732 -0.13315 -0.032598   -1.241251
4  0.714410 -0.13315 -0.032598   -0.753862

____

- Guardar en un csv el nuevo dataframe que habéis creado para seguir usándolo en los siguientes pair programmings

In [193]:
df_transformacion.to_csv('../archivos/metro_3.csv')