## Pair Programming - Regresión lineal VI Parte B

### Estandarización

---

In [27]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler

import warnings
warnings.filterwarnings('ignore')

En este ejercicio de pair programming seguiréis usando el dataset que seleccionasteis.

En vuestro dataset habréis identificado unas variables predictoras y una variable respuesta. Los objetivos del pair programming de hoy son:
- Sobre las variables predictoras, en este caso deberéis estandarizar estas variables. De nuevo, usad el método que prefiráis.

In [28]:
df = pd.read_csv("../archivos/metro_2.csv", index_col=0)
df.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,None,288.28,0.0,0.0,40,Clouds,scattered clouds,2012-10-02 09:00:00,5545
1,None,289.36,0.0,0.0,75,Clouds,broken clouds,2012-10-02 10:00:00,4516
2,None,289.58,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 11:00:00,4767
3,None,290.13,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 12:00:00,5026
4,None,291.14,0.0,0.0,75,Clouds,broken clouds,2012-10-02 13:00:00,4918

In [29]:
numericas = df.select_dtypes(include= np.number)

In [31]:
numericas.drop(['traffic_volume'], axis= 1, inplace=True)

In [33]:
scaler = StandardScaler()

In [34]:
scaler.fit(numericas)

StandardScaler()

In [35]:
transformacion = scaler.transform(numericas)

In [36]:
df_transformacion = pd.DataFrame(transformacion, columns= numericas.columns)

In [37]:
df.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,None,288.28,0.0,0.0,40,Clouds,scattered clouds,2012-10-02 09:00:00,5545
1,None,289.36,0.0,0.0,75,Clouds,broken clouds,2012-10-02 10:00:00,4516
2,None,289.58,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 11:00:00,4767
3,None,290.13,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 12:00:00,5026
4,None,291.14,0.0,0.0,75,Clouds,broken clouds,2012-10-02 13:00:00,4918

In [41]:
df_transformacion[['weather_main', 'traffic_volume']] = df[['weather_main', 'traffic_volume']]

In [43]:
df_transformacion.head()

       temp   rain_1h   snow_1h  clouds_all weather_main  traffic_volume
0  0.530416 -0.007464 -0.027233   -0.240049       Clouds          5545.0
1  0.611384 -0.007464 -0.027233    0.657047       Clouds          4516.0
2  0.627877 -0.007464 -0.027233    1.041516       Clouds          4767.0
3  0.669111 -0.007464 -0.027233    1.041516       Clouds          5026.0
4  0.744831 -0.007464 -0.027233    0.657047       Clouds          4918.0

____

- Guardar en un csv el nuevo dataframe que habéis creado para seguir usándolo en los siguientes pair programmings

In [44]:
df_transformacion.to_csv('../archivos/metro_3.csv')